# Dependencies
node_modules/
**/node_modules/

# Environment variables (sabse zaroori)
.env
**/.env

# Build outputs
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS files
.vscode/
.DS_Store
Thumbs.db

# Optional: cache
.cache/