
@tailwind base;
@tailwind components;
@tailwind utilities;



td{
    text-transform: capitalize;
}
th{
    text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  /* background: transparent; Optional: just to make it invisible */
}